*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 14px;
  background-color: #e78a9c;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px grey;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb{
  background: #e78a9c;
  border-radius: 7px;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  height: 60px;
  background-color: #270414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.container .logo {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
}

.container .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px;
}

.container .logo a img {
  max-width: 100%;
  max-height: 70px;
}

.container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
}

.container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container .navbar ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
}

.container .navbar ul li a:hover {
  color: #ffffff;
  background-color: #b43951;
}

.container .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

.container .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.container .navbar .icon-bar i {
  background-color: #ffffff;
  height: 2px;
}

@media only screen and (max-width: 650px) {
  .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .container .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .container .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .container .navbar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
  }

  .container .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #6b1064;
  }

  .container .navbar ul .close {
    display: block;
  }

  .container .navbar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container .navbar ._Menus-show {
    left: 0;
  }
}

.body {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}

body, html{
    background-color: #270414;
    font-family: "Montserrat", "sans-serif";
}

.header-text{
  color: white;
  transition-duration: 0.5s;
  font-size: 40px;
}

.header-text h1{
  position: absolute;
  top: 20%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.header-text h1 span{
  color: #e78a9c;
}

.header-text p{
  color: #e78a9c;
  position: absolute;
  top: 29%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.button-top {
  background-color: #e78a9c; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  top: 42%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.button-top {
  transition-duration: 0.5s;
}

.button-top:hover {
  background-color: #b43951; /* Green */
  color: white;
}


.header-text span{
  color: #270414;
}


.middle-text h2{
  z-index: 100;
  position: fixed;
  font-size: 27px;
  color: white;
  position: absolute;
  top: 60%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.middle-text p{
  z-index: 100;
  position: fixed;
  color: #e78a9c;
  position: absolute;
  top: 65%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.middle-other p{
  z-index: 100;
  position: fixed;
  color: #e78a9c;
  position: absolute;
  top: 70%;
  left: 41%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.pic-of-me img{
  z-index: 100;
  position: fixed;
  height: 234px;
  width: 234px;
  position: absolute;
  top: 70%;
  left: 84%;
  transform: translate(-50%, -50%);

}


.rectangle {
  height: 280px;
  width: 2000px;
  position: fixed;
  background-color: #98233A;
  top: 70%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 155px;
  width: 100%;
  background-color: #270414;
  color: white;
  text-align: center;
}

.footer img{
  z-index: 100;
  position: fixed;
  height: 160px;
  width: 160px;
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(-50%, -50%);
}

.footer-icons{
  position: absolute;
  top: 54%;
  left: 93%;
  transform: translate(-50%, -50%);
}

.footer-icons a:link, a:visited {
  background-color: #270414;
  color: #e78a9c;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.footer-icons a:hover{
  color: white;
}
